.settingsForm {
	--inputs-gap-x: clamp(1rem, 2vw, 5rem);
	--inputs-gap-y: clamp(0.5rem, 2.5vh, 5rem);
	display: flex;
	flex-wrap: wrap;
	gap: var(--inputs-gap-y) var(--inputs-gap-x);
}

.buttons {
	justify-content: flex-end;
	display: flex;
	gap: 1rem;
	width: 100%;
}
