.settingsForm {
	--inputs-gap: clamp(2rem, 3.5vh, 5rem);
	display: flex;
	flex-wrap: wrap;
	gap: var(--inputs-gap);
	margin: auto;
	max-width: 35rem;
}

.buttons {
	justify-content: flex-end;
	display: flex;
	gap: 1rem;
	width: 100%;
}
